@font-face {
    font-family: "Vazirmatn";
    src:
        url("/fonts/Vazirmatn_wght.woff2") format("woff2-variations"),
        url("/fonts/Vazirmatn_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
